@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Regular-WebM.eot");
  src: url("fonts/SuisseIntl-Regular-WebM.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/SuisseIntl-Regular-WebM.woff2") format("woff2"),
    url("fonts/SuisseIntl-Regular-WebM.woff") format("woff"),
    url("fonts/SuisseIntl-Regular-WebM.svg#SuisseIntl-Regular-WebM")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-SemiBold-WebM.eot");
  src: url("../fonts/SuisseIntl-SemiBold-WebM.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SuisseIntl-SemiBold-WebM.woff2") format("woff2"),
    url("../fonts/SuisseIntl-SemiBold-WebM.woff") format("woff"),
    url("../fonts/SuisseIntl-SemiBold-WebM.svg#SuisseIntl-SemiBold-WebM")
      format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

:root {
  --highlight: #ec554e;
  --dim: #8f8f8f;
}

/* ==========================================================================
   Layout
   ========================================================================== */

html,
body {
  background: black;
  margin: 0;
  padding: 0;
}

body {
  font-family: "SuisseIntl", sans-serif;
}

.page {
  padding-top: 3rem;
}

.wrapper {
  max-width: 1200px;
  padding: 0 6vw;
}

.columns {
  display: flex;
}

.column {
  padding-right: 4rem;
}

.left,
.right {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .page {
    padding-top: 1.5rem;
  }

  .columns {
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding-right: 1rem;
  }
}

/* ==========================================================================
   Header
   ========================================================================== */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
  flex-wrap: wrap;
  color: white;
}

.nav-logo {
  width: 160px;
}

@media only screen and (max-width: 700px) {
  .nav-bar {
    margin-bottom: 2rem;
  }

  .nav-logo {
    max-width: 120px;
  }
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  color: white;
  padding-bottom: 6vw;
}

.hero-image {
  margin-bottom: 3rem;
}

.hero-text {
  color: white;
  max-width: 720px;
}

.register {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 4rem;
  right: 6vw;
  width: 100%;
}

.register .register a {
  color: white;
  text-decoration: none;
}

.register a:visited {
  color: white;
  text-decoration: none;
}

.register a:hover {
  color: white;
  text-decoration: none;
}

.register-date {
  margin-right: 2.4rem;
  color: var(--highlight);
  font-weight: 700;
  color: white;
}

.register-link {
  display: block;
  position: relative;
  width: 5.5rem;
  padding: 0.7rem 3rem 0.7rem 1rem;
  margin-top: 0;
  border: var(--highlight) 1px solid;
  color: white;
  transition: all 0.2s ease-in-out;
  animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
}

.register-link:hover {
  transform: translateY(-0.4rem);
  color: white;
}

.register-link:visited {
  color: white;
}

.register-link svg {
  position: absolute;
  transform: translateY(-50%);
  top: 48%;
  right: 0.7rem;
}

@media only screen and (max-width: 700px) {
  .hero-headline {
    margin-bottom: 1rem;
  }

  .register {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 3rem;
  }

  .register-date {
    margin-bottom: 1rem;
  }
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
  background: white;
  padding: 6vw 0;
}

.schedule {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
  font-size: 1.2rem;
}

.schedule-entry {
  margin-bottom: 1rem;
}

.schedule-date {
  font-weight: 700;
}

.schedule-topic {
  font-style: italic;
}

.schedule-position {
  color: var(--dim);
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  padding: 1rem 0;
  background: white;
  color: black;
}

footer .right {
  width: 50%;
  color: var(--dim);
}

@media only screen and (max-width: 700px) {
  footer .nav-bar .left {
    margin-bottom: 1rem;
  }
  footer .nav-bar .right {
    width: 100%;
  }
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
  font-size: 6vw;
  margin: 0 0 2rem;
}

h2 {
  line-height: 1.6;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--highlight);
}

p {
  line-height: 1.6;
  font-size: 1.2rem;
  max-width: 720px;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 1500px) {
  h1 {
    font-size: 5.6rem;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 12vw;
  }
}

/* ==========================================================================
   Utils
   ========================================================================== */

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
